@import "tailwindcss";

.clip-path-custom {
  clip-path: polygon(53% 0, 100% 0, 100% 44%, 78% 100%, 38% 100%, 15% 100%);
}

/* Hide the default checkbox */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%; /* Makes it round like a radio button */
  outline: none;
  position: relative;
}

/* Style for the checked state */
.custom-checkbox:checked {
  border-color: #345484;
  background-color: #345484;
}

/* Create the check mark using ::after */
.custom-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}